
.background-text {
  font-family: 'Dogica', sans-serif;
  color: rgb(157, 94, 49);
  font-size: 7vw;
  font-weight: bold;
  /* color: rgb(0, 0, 0); */
  padding: 0px;
  text-transform:uppercase; 
  letter-spacing: 0.05rem;
  position: absolute;
    z-index: -1;
    text-align: center;
}
